<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TheSuperNoteWebApp/add</title>
    <link rel="stylesheet" type="text/css" href="/add-edit_page_styles.css">
</head>
<body>
 <div class="global_container">
    <form th:action="@{/note/add}" method="post">
        <table>
            <tr>
                <td>
                    <label class="label_style" for="title">Title</label>
                </td>
                <td>
                    <input class="input_style" type="text" name="title" id="title" placeholder="Title of your note" required minlength="3" maxlength="225">
                </td>
            </tr>
            <tr>
               <td>
                   <label class="label_style" for="content">Content</label>
               </td>
               <td>
                   <input class="input_style" type="text" name="content" id="content" placeholder="Content of your note" required minlength="3" maxlength="555">
               </td>
            </tr>
        </table>
        <button type="submit" class="button">Submit</button>
        <button type="reset" class="button">Reset</button>
    </form>
 </div>
</body>
</html>