<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/primary_page_styles.css">
</head>
<body>
    <table class="table-props">
        <tr>
            <th class="headline-props">Title</th>
            <th class="headline-props">Content</th>
        </tr>
        <tr th:each="note: ${notes}">
            <td class="regular-column-props" th:text="${note.title}"></td>
            <td class="regular-column-props" th:text="${note.content}"></td>
            <td>
                <div class="container">
                    <a th:href="@{'/note/edit?id='+${note.id}}">
                        <button type="button" class="button">Edit</button>
                    </a>
                    <form th:action="@{'/note/delete?id='+${note.id}}" method="post">
                        <button type="submit" class="button">Delete</button>
                    </form>
                </div>

            </td>
        </tr>
        <tr>
            <td class="regular-column-props">
                <a th:href="@{'/note/add'}">
                    <button type="button" class="button">Add new note</button>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>